<div class="container">
  <div class="row">
    <div class="col l12 m6 s2">
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col l12 m6 s2">
              <h3>There are currently {{books?.length}} books in the collection</h3>
              <button type="button" class="btn add-book-button" (click)="openAddBook()">New Book</button>
            </div>
          </div>
        </div>
      </div>
      <ul class="bookshelf ">
        <li *ngFor="let book of books">
          <div class="book">
            <p>Author - {{book.Author | capitalizeFirst}}</p>
            <p>Title - {{book.Title | capitalizeFirst}}</p>
            <p>Publish Date - {{book.Date | date:'yyyy-MM-dd'}}</p>
            <div class="button-group">
              <button type="button" class="btn" (click)="openEditBook(book)">Edit Book</button>

              <button type="button" class="btn red" (click)="openRemoveBook(book)">Remove Book</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<!--Edit Book Modal -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="editBookClicked">
  <app-edit-book (closeEditClicked)="closeLog()"></app-edit-book>
</div>

<!--Add Book Modal -->
<div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="addBookClicked">
  <app-new-book (closeAddBookClicked)="closeLog()"></app-new-book>
</div>

<!--remove Book Modal -->
<div id="modal3" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="removeBookClicked">
  <app-remove-book (closeRemoveButtonClicked)="closeLog()"></app-remove-book>
</div>

